<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>Art Gallery Products</title>
    </head>
    <body>
        <div> -->
            <h2>Product Details</h2>
            
            
            <label for="productId">Product ID:</label>
            <input type="number"  [(ngModel)]="productId" />
            <button (click)="productById()">Get Product By Id</button>
            
            
           
            
<!--             
            <ul>
            <table>
            <tbody>
            <tr >
            <td>{{p.productId}}</td>
            <td>{{p.productName}}</td>
            <td>{{p.artist}}</td>
            <td>{{p.stock}}</td>
            <td>{{p.productDescription}}</td>
            <td>{{p.price}}</td>
            </tr> 
            
             
            
                        </tbody>
            </table>
            
            </ul> 
            </div>
    </body>
</html>
-->



