.form-group{
    margin-bottom: 1px;
}
.card-header{
    margin-top: 1px;
}

.row{
    margin-top:1px;
}
body {
    background-color: #f0f0f0; /* Set a light background color */
    font-family: Arial, sans-serif;
}
.card {
    background-color: #ffffff; /* White card background */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
.card-header {
    background-color: #f8f8f8; /* Light gray header background */
}

.card-title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

